{%load static%}
<!--Footer-->
<footer id="footer">
  
   <div class="site-footer">
       <div class="container">
            <!--Footer Links-->
         
           <!--End Footer Links-->
           <hr>
           <div class="footer-bottom">
               <div class="row">
                   <!--Footer Copyright-->
                   <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="#">Templates Hub</a></div>
                   <!--End Footer Copyright-->
                   <!--Footer Payment Icon-->
                   <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                       <ul class="payment-icons list--inline">
                           <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                           <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                           <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                           <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                           <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                           <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                       </ul>
                   </div>
                   <!--End Footer Payment Icon-->
               </div>
           </div>
       </div>
   </div>
</footer>
<!--End Footer-->
<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->




   
<!-- Including Jquery -->
<script src="{%static 'assets/js/vendor/jquery-3.3.1.min.js'%}"></script>
<script src="{%static 'assets/js/vendor/jquery.cookie.js'%}"></script>
<script src="{%static 'assets/js/vendor/modernizr-3.6.0.min.js'%}"></script>
<script src="{%static 'assets/js/vendor/wow.min.js'%}"></script>
<!-- Including Javascript -->
<script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/plugins.js'%}"></script>
<script src="{%static 'assets/js/popper.min.js'%}"></script>
<script src="{%static 'assets/js/lazysizes.js'%}"></script>
<script src="{%static 'assets/js/main.js'%}"></script>
<!-- Photoswipe Gallery -->
<script src="{%static 'assets/js/vendor/photoswipe.min.js'%}"></script>
<script src="{%static 'assets/js/vendor/photoswipe-ui-default.min.js'%}"></script>




<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="pswp__bg"></div>
       <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- belle/short-description.html   11 Nov 2019 12:43:10 GMT -->
</html>